@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}



.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.main-box {
    width: 500px;
    height: 500px;
    margin: 20px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.css-text-area{
    color: #ffff;
    font-size: 1rem;
}

.slider-container {
    margin: 100px auto 0 auto;
    background-color: #fff;
    padding: 50px;
    min-width: 600px;
    border-radius: 10px;
}

.background-area {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 'slider-area box-area';
}

.box-area{
    grid-area: box-area;
    margin:auto;
}
.slider-area {
    grid-area: slider-area;
    margin: auto;
}

.colorPicker{
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    .background-area {
        grid-template-areas: 'box-area'
                             'slider-area';
        height: 100%;
    }


    .main-box {
        width: 20rem;
        height: 20rem;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    .slider-container {
        margin: auto;
        background-color: #fff;
        padding: 15px;
        min-width: 80%;
        border-radius: 10px;
    }
    .slider-area {
        grid-area: slider-area;
        margin: 20px;
    }
}